.card-active {
	display: block;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 70px;
}
.card {
	display: none;
}
.list-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		width: 230px;
		background-color: #aaa;
		padding: 15px;
		transition: all 0.3s;
		margin-bottom: 10px;
		position: relative;
		user-select: none;
		img {
			margin: 30px 37px;
		}
		.counter {
			position: absolute;
			bottom: 15px;
			right: 15px;
			border-radius: 10px;
			padding: 7px;
			background-color: #ddd;
		}
	}
	&__item:hover {
		border-radius: 30px;
		cursor: pointer;
	}
}